a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
#menu_6fe91bc7 a { text-decoration: none; }
#menu_6fe91bc7_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_6fe91bc7_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_6fe91bc7_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_6fe91bc7_entry:hover { background-color: #C4C4C4; color: #FFFFFF !important; }
#menu_6fe91bc7_entry:hover span { color:#FFFFFF !important; }
		.menu_6fe91bc7_mainMenuEntry { text-align: center; }
		.menu_6fe91bc7_mainMenuEntry:hover {	background-color:#C4C4C4; }
		.menu_6fe91bc7_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_6fe91bc7 .mobileEntry { display: none; } 
		#menu_6fe91bc7 .normalEntry { display: block; } 
		#menu_6fe91bc7_menualignmentwrapper{ width:327px; left: calc(50% - 163px);  } 
		@media only screen and (max-width:550px) { 
			#menu_6fe91bc7 .mobileEntry { display: block; } 
			#menu_6fe91bc7 .normalEntry { display: none; } 
			#menu_6fe91bc7_menualignmentwrapper { width:36px; left: calc(50% - 18px);  } 
		}
body { background-color:#DFDFDF; background: linear-gradient(to bottom, #F8F8F8, #DFDFDF); background-repeat: no-repeat; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_564289d1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background-color:#FFFFFF; background: linear-gradient(to bottom, #7F7F7F, #FFFFFF);  }
#container_564289d1_padding { margin: 10px; display: block;  }
#img_48e28962 { vertical-align: bottom; position:relative; display: inline-block; width:54%; background:none; height:auto;  }
#menu_6fe91bc7 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, #FFFFFF, #E5E5E5); border: 1px solid #A0A0A0;  }
#menu_6fe91bc7_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:36px; height:38px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:32px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:67px; height:38px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:17px;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle3 { position:absolute; width:41px; height:38px; left:67px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#8080FF;  white-space: nowrap; }
.menustyle4 { position:absolute; width:91px; height:38px; left:108px;  }
.menustyle5 { position:absolute; width:75px; height:38px; left:199px;  }
.menustyle6 { position:absolute; width:53px; height:38px; left:274px;  }
.textstyle5 { text-align:left; }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
